@import url('htps://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('htps://fonts.googleapis.com/css2?family=playfair+Display;:wght@600&display');
html{
    scroll-behavior: smooth;
}
body{
    padding:0;
    margin:0;
    font-family:'montserrat',sans-serif;
}
nav{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    border-bottom: 2px solid #433c38dc;
    justify-content: space-around;
}
nav.k{
    width:100%;
}
nav h1{
    color:rgba(202, 21, 21, 0.785);
  font-family:'playfair Display',sans-serif;
  font-size:30px;
}
nav.onglets{
    margin-top:2px;
    margin-left:3px;
}

nav.onglets a{
    text-decoration: none;
    margin-right:10px;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}

header{
    display:flex;
    flex-direction: column;
    align-items:center;
    background:url(./image12-50.png);
    background-size: cover;
    color:#fff;
    padding: 30px;
}
header h1{
    display: flex;
    justify-content: center;
    color:rgba(202, 21, 21, 0.785);
}
header h4{
font-family:'playfair Display', sans-serif;
font-size:2PX;
color:color-mix(in srgb, color percentage, color percentage);
display: block;
}
header h4{ 
margin-top:-30x;
font-size: 30px;
text-align:center;

}
header button{
    padding:10px 20px;
    background-color:#6f6f6f ;
    color:#000;
    border:none;
    font-size:25px;
    font-family:'playfair Display', sans-serif;
    outline:none ;
   cursor: pointer;
}
.main{
    margin-top: 30px;
    display:flex;
    flex-direction:column;
    align-items: center;
}
main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
    
}
.main .content .card .left{
    flex: 0  0 50%;
    padding: 40px;
    background-color:black;
    color:#fff;
}
.main .content.card.right{
    flex: 0 0 50%;
}
.main .content .card .right .img{
    height: 300px;
    width: 500px;
    margin-top:5px;
}
footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: #000;
    color: #fff;
    padding: 30px 100px;
}
footer h1{
    font-family: 'playfair Display',sans-serif; 
    border-bottom: 1px solid #fff;
    width: 15%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}
footer .services .service{
    margin-right: 30px;
    padding: 10px;
}
footer .services .service p{
    max-width: 300px
}
footer #contact{
    color:red;
}
 @media screen and (max-width:680px){
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card{
        margin: 10px;
    }
    .main .content .card .right .card{
        height: 23px;
        width: 100%;
        margin-top: 0px;
    }
    .main .content .card{
        display: block;
    }
    footer {
        padding: 30px;
    }
}